*{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-family: sans-serif;
    margin: 10px;
}
.card{
    height: 230px;
    width: 230px;
    border: 1px solid rgb(74, 73, 73);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
img{
    height: 140px;
    width: 160px;
    padding: 10px;
}
p{
    padding: 5px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}
.productList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13px;
    margin: 0% 8%;
    padding: 7px;
}
